// Specific CSS for your home-page
.home_banner {
  height: 900px;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;

  .search_card {
    width: 441px;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 32px;
    padding-bottom: 24px;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12);
  }

  h1 {
    font-size: 40px;

  }
}
