// Specific CSS for your home-page
.home_banner {
  height: 900px;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;

  .search_card {
    height: 600px;
    width: 600px;
    border-radius: 15px;
    background-color: #FFFFFF;
  }

  h1 {

  }
}
