$main:     #03CEA4;
$main-hover: #04896D;
$secondary: #0E6ED7;

.signin-container {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.whatever{
  color: $secondary;
  font-size: 10px;
  transition: 1s;
  &:hover {
    color: $main-hover;
    transition: 1s;
  }
}

.passwordreset {
  color: black;
}

.form-check{
  font-size: 10px;
}

.form-group.password.optional.user_password {
  margin-bottom: 5px;
}


.simple_form,new_user {
      padding-bottom: 30px;
}


.already{
  display: flex;
  justify-content: space-evenly;
}

.forgotten{
font-size: 13px;
margin-top: 7px;
}

.sign_upbutton {
  background-color: white;
  color: $main;
  border: 1px solid $main;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 12px;
  padding-left: 12px;
  transition: 1s;
  width: 70px;
  font-size: 13px;
  &:hover {
    color: $main-hover;
    border-color: $main-hover;
    transition: 1s;
  }
}


.signin-box {
  width: 350px;
  padding-right: 0px;
  padding-bottom: 30px;
  padding-top: 0px;
  padding-left: 0px;

  height: 420px;
}

.signin_button {
  background-color: $main;
    font-family: 'Montserrat', sans-serif;
    color: white!important;
    padding: 10px 22px;
    border-radius: 4px;
    border-color: $main;
    font-weight: normal;
    width: 100%;
    transition:1s;
    &:hover {
    background-color: $main-hover;
    transition: 1s;
  }
}

.pet_adder {
  justify-content: center;
  width: 500px;
background-color: white;
}

#pet_adder_container{
background-color: white;
justify-content: center;
display: flex;
}
