.pet-body {
  display: flex;
  justify-content: center;
}

.show_card {
  display: flex;
  flex-direction: column;
 background-color: #ffffff;
}

.show_photos{
  width: 100%;
  border-style: solid;
  border-width: 0.5px;
  border-color: black;
}

.details_card {
  padding: 20px;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 20px;
  margin: 20px
}

.deets {
  display: flex;
  padding: 40px;
  width: auto;
  justify-content: center;
  // align-items: center;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 2px;

}

.guidelines {
  padding: 20px;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 20px;

}

.avatar-large {
  width: 100px;
  border-radius: 50%;

  p {

  }
}

.show_details{
  padding: 20px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #ff5a5f;
  border-radius: 10px;
  box-shadow: 1px 1px 20px;

}

.list-inline {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  border-bottom: 1px solid #DCDCDC;
}

.list-inline li {
  display: inline;
  padding: 10px;
}



