.user_list_container {

  width: 500px;
  background-color: white;
  padding: 30px;
  margin: 40px;
  display: flex;
  flex-align: center;
  flex-direction: column;


}


a:hover {
  color: hotpink;
}
a {
  text-decoration: none;
}
