<div class= "index_container">


    <% if @user %>
        <% if @user == current_user %>
          <div>
            <h1>Your pets</h1>
          </div>
        <% else %>
          <div>
            <h1><%= @user.first_name %>'s pets</h1>
          </div>
        <% end %>
    <% else %>
      <div>
        <h1>All pets Available:</h1>
      </div>
    <% end %>


    <div class="cards">
    <% @pets.each do |pet| %>
      <% if pet.photos.any? %>
        <% img = cl_image_path(pet.photos.first.key, width: 500, height: 300, crop: :thumb, gravity: :face) %>
      <% else %>
        <% imge = "URL HERE" %>
      <% end %>
      <div class="list card" style="background-image: url(<%= img  %>)">

        <h1><%= pet.name %></h1>
        <%= link_to "See more", pet_path(pet) %>
      </div>
    <% end %>
  </div>
</div>

