<%= link_to "Add a pet", new_user_pet_path(current_user), class: "btn btn-primary" %>

<h1> Pets Available:</h1>


<p>
  <% Pet.all.each do |pet| %>
  <%= link_to pet.name , user_pet_path(current_user, pet) %>
  <br>
  <% end %>
</p>

<br>


