<div class= "index_container">




    <% if @user %>
        <% if @user == current_user %>
          <% if current_user.pets.pluck(:name).empty? %>
            <div>
              <h1> You havent listed any pet yet!</h1>
            </div>

          <% else %>
            <div>
              <h1>Your pets</h1>
            </div>
            <% end %>
        <% else %>
          <div>
            <h1><%= @user.first_name %>'s pets</h1>
          </div>
        <% end %>
    <% else %>
      <div>
        <h1>All pets Available:</h1>
      </div>
    <% end %>


  <div class="cards">
  <% @pets.each do |pet| %>
    <% if pet.photos.any? %>
    <div class="card-image">
      <% img = cl_image_path(pet.photos.first.key, width: 350, height: 300, crop: :thumb, gravity: :face) %>
    <% else %>
      <% img = "URL HERE" %>
    <% end %>
    <%= link_to pet_path(pet) do %>
    <div class="list card-my" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.35), rgba(0,0,0,0)), url(<%= img  %>)">
      <h2><%= pet.name %></h2>
    </div>
     <% end %>
    </div>
  <% end %>
</div>

</div>


