<%= link_to "Add a pet", new_user_pet_path(current_user), class: "btn btn-primary" %>

<% if @user %>
  <% if @user == current_user %>
      <h1>Your pets</h1>
    <% else %>
      <h1><%= @user.name %>'s pets</h1>
  <% end %>
<% else %>
  <h1>All pets Available:</h1>
<% end %>

<p>
  <% @pets.each do |pet| %>
  <%= link_to pet.name , pet_path(pet) %>
  <br>
  <% end %>
</p>

<br>


