<div class= "user_list_container">
  <h1> All Owners:</h1>


  <div class= "owners_list">
    <% @users.each do |user|%>
       <h2> <%= link_to user.first_name.capitalize, pets_path(user_id: user.id)%> <%= user.last_name.capitalize %></h2>
       <br>
       <br>


    <% end %>
  </div>
</div>
