<div class="card-trip">
  <%= cl_image_tag User.find(booking.user_id).photos.first.key, height: 300, width: 640, crop: :fill %>

  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>



