
<div class="footer">
<h5>Made with ♥️ in <strong>LDN</strong></h5>
</div>

<ul class="hackers">
      <li>
        <%= cl_image_tag("https://res.cloudinary.com/tallyho/image/upload/v1574421618/rick_la7ztt.jpg", :width => 400, :crop => "face", class: "avatar-bordered" ) %>
      </li>
      <li>
        <%= cl_image_tag("https://res.cloudinary.com/tallyho/image/upload/v1574421619/tilly_ut0qes.jpg", :width => 400, :crop => "face", class: "avatar-bordered" ) %>
      </li>
      <li>
        <%= cl_image_tag("https://res.cloudinary.com/tallyho/image/upload/v1574421618/jack_cfra1z.jpg", :width => 400, :crop => "face", class: "avatar-bordered" ) %>
      </li>
      <li>
        <%= cl_image_tag("https://res.cloudinary.com/tallyho/image/upload/v1574421618/pierre_uccgn0.jpg", :width => 400, :crop => "face", class: "avatar-bordered" ) %>
      </li>

</ul>
