<<<<<<< HEAD
<h1>Pages#home</h1>


<h2> Your Pets: </h2>



<p> <% current_user.pets.each do |pet| %>
  <%= pet.name %>
  <% end %>

</p>




<%= link_to "add a pet", new_user_pet_path(current_user) %>
=======
<h1>Woof, good morning!</h1>

<%= image_tag("cute-dog") %>
>>>>>>> 8d1fb5302855bcd7168de4b2f18dc7ee8858ecaf
