
<div class="home_banner d-flex flex-column" style="background-image: url(<%= asset_url('homepage.jpg') %>)">
  <div class="search_card d-flex flex-column">
    <h1>Have a different pet every weekend</h1>
    <form>
      <h3>WHERE</h3>
      <input type="text" placeholder="Anywhere">
      <h3>DATE</h3>
      <input type="date" placeholder="dd-mm-yyyy"><br><br>
      <input type="submit" value="Search">
    </form>
  </div>
</div>
