<div class="home_banner d-flex flex-column" style="background-image: url(<%= asset_url('homepage.jpg') %>)">
  <div class="search_card d-flex flex-column">
    <h1>Have a different pet every weekend</h1>
    <form>
      <div class="where">WHERE</div>
        <input class="anywhere" type="text" placeholder="Anywhere"><br>
      <div class="collect">COLLECT</div>
        <input class="calender" type="date" placeholder="dd-mm-yyyy"><br><br>
      <div class="button-right">
        <input class="search_button" type="submit" value="Search">
      </div>
    </form>
  </div>
</div>

