.add-pet-btn {
    background-color: #ff5a5f;
    font-family: 'Montserrat', sans-serif;
    color: white!important;
    padding: 10px 22px;
    border-radius: 4px;
    border-color: #ff5a5f;
    font-weight: normal;
    margin-bottom: 10px;
    margin-left: 5px;
}
