.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-transparent {
  background-color: transparent;
}

.navbar-lewagon-black {
  background-color: white;
  color: #484848
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-nav .nav-link {

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
}

.navbar-lewagon .navbar-nav .add-pet {
    background-color: #ff5a5f;
    font-family: 'Montserrat', sans-serif;
    color: white!important;
    padding: 10px 22px;
    border-radius: 4px;
    border-color: #ff5a5f;
    font-weight: normal;
}

.navbar-lewagon .navbar-nav .add-pet:hover {
  background-color: #ff5a5f;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  font-weight: bolder;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

